<h1 id="pageHeader">
  You are now viewing product:
  {{productObj.name}}
</h1>
<div id="infoBody">
  <div>
    <a href="/products/{{productObj.url}}/edit">
      <button>
        edit
      </button>
    </a>
  </div>
  <div>
    <a href="/products/{{productObj.url}}/delete">
      <button>
        delete
      </button>
    </a>
  </div>
  <div>
    Item #:
    {{productObj.id}}
  </div>
  <p>
    Inventory:
    {{productObj.inventory}}
  </p>
  <p>
    Price: $
    {{productObj.price}}
  </p>
  <a href="/products">
    <button>
      Back
    </button>
  </a>
</div>