<h1 id="productsHeader">
  List of products
</h1>
<a href="/products/new">
  <button id="newProducts">
    Add new products
  </button>
</a>
<br />
<div id="productList">
  {{#each productObj}}
    <div id="{{id}}">
      <h2>
        Product name:
        {{name}}
      </h2>
      <p>
        Item#:
        {{id}}
      </p>
      <p>
        Inventory:
        {{inventory}}
      </p>
      <p>
        Price:
        $
        {{price}}
      </p>
    </div>
  {{/each}}
</div>
<a href="/">
  <button>
    Back
  </button>
</a>