<h1 id="pageHeader">
  Edit article:
  {{articleObj.title}}
</h1>
<div id="infoBody">
  <p id="itemNo">
    article #:
    {{articleObj.id}}
  </p>
  <div id="inputForm">
    <form action="/articles/{{articleObj.id}}/edit?_method=PUT" method="POST">
      Article name:
      <input type="text" name="title" value="{{articleObj.title}}" />
      <br />
      Author:
      <input type="text" name="author" value="{{articleObj.author}}" />
      <br />
      Body:
      <input type="text" name="body" value="{{articleObj.body}}" />
      <br />
      <button type="submit" id="submitBtn">
        Submit
      </button>
    </form>
  </div>
  <div id="backBtn">
    <a href="/articles/{{articleObj.id}}">
      <button>
        Back
      </button>
    </a>
  </div>
</div>